@{
    Layout = "_Layout";
}
<article>
    <h1>Добро пожаловать</h1>
    <p>Нажмите, чтобы войти через Яндекс (через Auth‑API).</p>
    <a role="button" href="/auth/signin">Войти через Яндекс</a>
</article>